<!DOCTYPE html>
<html ng-app="WatsonVR">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/Droparea.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/Droparea.min.js"></script>
</head>
<body class="container" ng-controller="ctrlHome">

<h1>Plagas en las plantas</h1>
<p>usando reconocimiento visual de watson</p>
<div class="row feed">
	<div class="col-md-4">
		<h2>Entrada:</h2>
		<form ng-submit="submit()">
			<div class="droparea text-center" id="drop">
				<img src="http://placehold.it/200" id="file_preview" style="width: 200px; height: 200px;"></br>
				<span>Touch for open image here!</span>
			</div>
			<input type="file" name="file" id="file" accept="image/*" style="display: none;">
			<div class="text-center">
			<button class="btn btn-success">Ejecutar Reconocimiento</button>
			</div>
		</form>
		
	</div>
	<div class="col-md-8">
		<h2>Resultados:</h2>
		<p ng-show="loading">Consultando a watson...</p>
		<p>{{datos}}</p>
		<div class="progress">
		  <div class="progress-bar bg-success" role="progressbar" style="width: {{val1}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		</br>
		<div class="progress">
		  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		</br>
		<div class="progress">
		  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		</br>
		<div class="progress">
		  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		</br>
	</div>

	<script type="text/javascript">
		$('#drop').droparea();
		var app=angular.module("WatsonVR",[
			]);
		
		app.controller("ctrlHome",function($scope,$http){
			$scope.val1=20;
			$scope.loading=false;
			$scope.datos=null;
			$scope.submit=function(){
				var formData=new FormData;
				var file=$('#file')[0].files[0];
				$scope.valis=100;
				if (file==null) {
					alert("no seleccion imagen");
				}else{
					$scope.loading=true;
					console.log(file,"file....");
					console.log(file.name);	
					formData.append('image',file);
					$http.post('/watsonImage',formData,{transformRequest: angular.identity,headers:{'Content-Type': undefined}}).then(function(response){
						$scope.datos=JSON.stringify(response.data,null,2);
						//$scope.datos=res.data;---me devuelde un object 
						//show by console
						console.log($scope.datos);
						///hide messae loading
						$scope.loading=false;
					});
				}
			}
		});
	</script>
</body>
</html>  
